extends ../layout
block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 電影名稱
                        th 導演
                        th 國家
                        th 上映年份
                        th 錄入時間
                        th pv
                        th 查看
                        th 更新
                        th 刪除
                tbody
                    each item in movies
                        tr(class="item-id-#{item._id}")
                            td #{item.title}
                            td #{item.doctor}
                            td #{item.country}
                            td #{item.year}
                            td #{moment(item.meta.updateAt).format('DD/MM/YYYY')}
                            td #{item.pv}
                            td: a(href="/movie/#{item.id}") 查看
                            td: a(href="/admin/movie/update/#{item.id}") 修改
                            td
                                button.btn.btn-danger.del(type="button", data-id="#{item._id}") 刪除
        ul.pager
            if page > 0
                li
                    a(href='/admin/movie/list?page=#{page - 1}') 上一页
            if !lastPage
                li
                    a(href='/admin/movie/list?page=#{page + 1}') 下一页
    script(src="/static/js/admin.js")